@font-face {
  font-family: Panton Italic;
  src: url("/fonts/panton-black-italic.otf") format("opentype");
}


@font-face {
  font-family: Panton;
  src: url("/fonts/panton-black.otf") format("opentype");
}

@font-face {
  font-family: Panton Bold;
  src: url("/fonts/panton-bold.otf") format("opentype");
}

@font-face {
  font-family: Panton Bold Italic;
  src: url("/fonts/panton-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraBlack Italic;
  src: url("/fonts/panton-extraBlack-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraBlack;
  src: url("/fonts/panton-extraBlack.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraBold Italic;
  src: url("/fonts/panton-extraBold-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraBold;
  src: url("/fonts/panton-extraBold.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraLight Italic;
  src: url("/fonts/panton-extraLight-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton ExtraLight;
  src: url("/fonts/panton-extraLight.otf") format("opentype");
}

@font-face {
  font-family: Panton Italic;
  src: url("/fonts/panton-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton Light Italic;
  src: url("/fonts/panton-light-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton Regular;
  font-weight: 300;
  src: url("/fonts/panton-regular.otf") format("opentype");
}

@font-face {
  font-family: Panton SemiBold Italic;
  src: url("/fonts/panton-semiBold-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton SemiBold;
  src: url("/fonts/panton-semiBold.otf") format("opentype");
}

@font-face {
  font-family: Panton Thin Italic;
  src: url("/fonts/panton-thin-italic.otf") format("opentype");
}

@font-face {
  font-family: Panton Thin Italic;
  src: url("/fonts/panton-thin.otf") format("opentype");
}