@import 'reset.scss';
@import 'fonts.scss';
@import "palette";

$header-max-width: 1422px;

.container {
  max-width: $header-max-width;
  padding: 0 32px;
}

body {
  font-size: 18px;
}

a {
  cursor: pointer;
}

h1 {
  font-family: Panton SemiBold Regular;
  font-size: 60px;
  color: $green-color;
}

h2 {
  font-family: Panton Bold;
  font-size: 48px;
  color: $green-color;
  margin: 0;
}

h3 {
  font-family: Panton Bold;
  font-size: 32px;
  color: $green-color;
  margin: 0;
}

h4 {
  font-family: Panton Bold;
  font-size: 24px;
  color: $green-color;
  margin: 0;
}

h5 {
  margin: 0;
  font-size: 18px;
}


.header-links {
  padding: 18px 32px 0;
  max-width: $header-max-width;
  gap: 32px;

  .btn-language {
    width: 17px;
    height: 17px;
    background-image: url("../images/sprachwechsler-deutsch.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-text {
    font-size: 16px;
    font-family: Panton SemiBold Regular;
    color: $green-color;
    letter-spacing: 0;
    transition: 0.3s;
    opacity: 1;
    line-height: 17px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.header {
  width: 100%;
  background-color: $white-color;

  .navbar {
    max-width: $header-max-width;
    padding: 27px 32px 19px;

    &-nav {
      gap: 48px;

      .nav-link {
        display: block;
        position: relative;
        transition: 0.5s;

        &:hover {
          color: $green-color;
        }

        &.active::after, &:hover::after {
          content: "";
          position: absolute;
          width: 70%;
          height: 1px;
          bottom: -13px;
          left: 15%;
          background-color: $green-color;
        }
      }
    }
  }
}

.nav-link, .popupbtn {
  font-family: Panton Bold;
  font-size: 18px;
  color: $green-color;
}

.bfs-technologie {
  position: relative;
  margin: 0 0 112px;
  height: 730px;

  &-text {
    max-width: 548px;
    gap: 40px;
    font-family: Panton SemiBold Regular;

    &-wrapper {
      width: $header-max-width;
      padding: 0 32px;
    }
  }

  &-title {
    color: $green-color;
    font-size: 60px;

    &-strong {
      font-family: Panton Bold;
    }
  }

  &-description {
    font-size: 18px;
    line-height: 29px;
    color: $black-color;
  }

  &-image {
    position: absolute;
    right: 32px;
    border-radius: 30px;
  }
}


.vorteile {
  padding: 144px 0;
  margin: 0 20px 144px;
  border-radius: 30px;
  background: #F4F6F7;

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &-wrapper {
    max-width: 1360px;
  }


  &-logo {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
    background: $green-color;
    border-radius: 22px;

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 16px;
      width: 32px;
      height: 32px;
      background-image: url(../images/icon-platzhalter.svg);
    }
  }

  &-item {
    flex-grow: 1;
    flex-basis: 250px;
    padding: 32px;
    background: $white-color;
    border-radius: 30px;
  }

  &-text {
    font-size: 18px;
    color: $black-color;
    font-family: Panton SemiBold Regular;
  }

  &-content {
    padding: 32px;
    background: $white-color;
  }

  &-logo-image {
    width: 32px;
    height: 32px;
  }

}

.button-text {
  font-family: Panton Bold;
  color: $white-color;
}


.section-title {
  font-size: 48px;
  margin-bottom: 80px;
}

.pharma-cards {
  margin-bottom: 144px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 64px;
  column-gap: 32px;
}

.dotted-list-item {
  line-height: 18px;
  position: relative;
  margin-left: 24px;

  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    left: -24px;
    background-image: url(../images/icon-aufzaehlung.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}


.pharma-item {
  height: 881px;
  position: relative;

  .pharma-slider {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
  }

  .pharma-item-text-wrapper {
    height: 650px;
    position: absolute;
    top: 215px;
    background-color: #f4f6f7;
    border-radius: 30px;
    padding: 258px 48px 28px;
  }

  .carousel-indicators {
    margin: 0;
    gap: 8px;
  }

  .carousel {
    height: 414px;
  }

  .carousel-button {
    background-color: #AEBDA9;
    height: 7px;
    border-radius: 7px;
    border: none;
    margin: 0;

    &.active {
      background-color: $green-color;
    }
  }


  .pharma-title {
    margin-bottom: 80px;
  }

  .pharma-item-title {
    margin-bottom: 48px;
    line-height: 32px;
  }

  .pharma-list {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    gap: 16px;
  }

  .pharma-item-text {
    line-height: 29px;
    margin-bottom: 31px;
  }

  .pharma-item-text, .pharma-list {
    font-size: 18px;
    font-family: Panton SemiBold;
  }
}

.pharma-list-logo {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-right: 16px;
}


.row .pharma-item:not(:last-child) {
  margin-right: 32px;
}


.pharma-weiter {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  column-gap: 65px;
  margin-bottom: 144px;
  padding: 48px;
}


.example {
  padding: 144px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f4f6f7;
}

.catalog {
  transform: translateX(0);
  transition: 0.5s;
  box-sizing: border-box;

  .catalog_item {
    position: relative;
    max-height: 550px;
    max-width: 900px;
  }

  .catalog_item:hover > .hide-text {
    opacity: 1;
  }

  .catalog_image {
    height: 100%;
    border-radius: 30px;
  }

  .hide-text {
    transition: 0.5s;
    opacity: 0;
  }

  .hide-text {
    position: absolute;
    padding: 48px;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: $green-color;
  }

  .image-title {
    position: absolute;
    font-size: 24px;
    bottom: 48px;
    left: 32px;
  }

  .hide-title {
    color: $white-color;
    font-size: 24px;
  }

  .hide-image-text {
    color: $white-color;
  }

}

.sliders {
  display: flex;
  gap: 30px;
  grid-row: 5;
  grid-column: 2 / 4;
  margin: 30px 10px;

  &__left {
    background-image: url(/images/icon-arrow-left-green.svg);
  }

  &__right {
    background-image: url(/images/icon-arrow-right-green.svg);
  }
}

.slider {
  display: block;
  width: 32px;
  height: 32px;

  &:disabled {
    opacity: 0.5;
  }
}

.section-title .slider-title {
  width: 75%;
}

.probieren {
  background-color: #f4f6f7;
  padding: 0 32px;
  margin-bottom: 0;
}

.dropbtn {
  position: relative;
  font-family: Panton Bold;
  color: $green-color;
  padding: 16px 16px 16px 0;
  font-size: 18px;
  border: none;
  cursor: pointer;

  &.show::after, &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 24px;
    right: -20px;
    background-image: url(/images/icon-arrow-green-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 200px;

  &-content {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: $white-color;
    box-shadow: 0 15px 30px #2D2D2E1A;
    min-width: 120%;
    z-index: 3;
  }

  &-content a {
    color: black;
    padding: 8px;
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
}


.top-menu {
  background-color: $white-color;
  position: sticky;
  top: 75px;
  z-index: 5;
}

.scroll-green {
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  background-color: $green-color;
}

.scroll-text {
  font-family: Panton Bold;
  font-size: 18px;
  color: $green-color;
}

.scrollmenu {
  position: relative;
  width: 100%;
}

.scroll {
  position: absolute;
  top: 56px;
  width: 100%;
  height: 2px;
  background-color: #E4E8EC;
}

.popup {
  position: relative;

  &-content {
    display: none;
    position: absolute;
    padding: 48px 32px;
    left: -370px;
    top: 55px;
    width: 844px;
    min-height: max-content;
    background-color: $green-color;
    box-shadow: 0 0 50px #00000026;
    border-radius: 30px;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      top: -10px;
      left: 46%;
      transform: rotate(45deg);
      background-color: $green-color;
    }
  }

  &-icon {
    background-color: $white-color;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 10px;
  }

  &-left, &-right {
    width: 46%;
  }

  &-left {
    margin-right: 32px;
  }

  &-description {
    color: $white-color;
    font-size: 14px;
    margin-left: 40px;

    &-text {
      font-family: Panton Regular;
      font-size: 14px;
    }
  }

  &-title {
    margin-bottom: 5px;
  }

  &-text {
    margin-left: 38px;
  }

  &-image {
    width: 15px;
    background-size: cover;
  }

  &-title-text {
    font-family: Panton Bold;
    color: $white-color;
    font-size: 18px;
  }

  &-link {
    position: relative;
    width: max-content;
    font-family: Panton Bold;
    color: $white-color;
    font-size: 14px;

    &::after {
      content: "";
      width: 14px;
      height: 9px;
      position: absolute;
      top: 5px;
      left: 115%;
      background-image: url(/images/icon-arrow-right.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}


.show {
  display: block;
}

.showFlex {
  display: flex;
}

.container-image {
  min-height: 804px;
  width: 100%;
  background-image: url(/images/bild-cta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bestelen {
  width: 55%;
  padding: 80px;
  background-color: $green-color;
  border-radius: 30px;


  .bestelen-title {
    color: $white-color;
    margin-bottom: 30px;
  }

  .bestelen-description {
    color: $white-color;
    margin-bottom: 48px;
  }

  .bestelen-button {
    font-family: Panton Bold;
    font-size: 16px;
    width: 220px;
    height: 46px;
    padding: 16px 48px 14px;
    color: $green-color;
    background-color: $white-color;
    border-radius: 16px;
    transition: 0.3s;
  }

  .bestelen-button:hover {
    background-color: #AEBDA9;
    color: $white-color;
  }

}

.onestop {
  background-color: #f4f6f7;
  padding: 144px 0;
  margin-bottom: 0;

  .onestop-text {
    width: 50%;
  }

  .onestop-title {
    margin-bottom: 32px;
  }

  .onestop-buttons {
    width: 50%;
  }

  .onestop-button {
    height: 88px;
    width: 81%;
    background-color: $green-color;
    border-radius: 30px;
    transition: 0.5s;
  }

  .onestop-button:hover {
    opacity: 0.5;
  }

  .onestop-button:not(:last-child) {
    margin-bottom: 16px;
  }

  .arrow {
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
    margin-right: 32px;
  }
}


.title-strong {
  font-family: Panton Bold;
  font-size: 60px;
  color: $green-color;
}

.button-logo {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 24px;
  background-color: $white-color;
  border-radius: 14px;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-platzhalter-green.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .button-logo-icon {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}


.faq {
  background-color: #F4F6F7;
  padding: 0 32px 32px;

  .faq-background {
    width: 100%;
    height: 100%;
    padding: 144px 0;
    border-radius: 30px;
    background-color: $white-color;
  }
}


.footer {
  height: 100px;
  padding: 0 32px;
}

.footer-text {
  font-size: 14px;
  color: $green-color;
}

.link-logo {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.link-logo:hover {
  filter: invert(21%) sepia(23%) saturate(1192%) hue-rotate(106deg) brightness(25%) contrast(100%);
}

.footer-link:not(:last-child) {
  margin-right: 48px;
}

.details-link {
  font-family: Panton SemiBold Regular;
  font-size: 14px;
  color: $green-color;
  opacity: 0.5;
  transition: 0.3s;
}

.details-link:hover {
  opacity: 1;
}

.details-link:not(:last-child) {
  margin-right: 48px;
}

.accordion {
  --bs-accordion-btn-bg: #f4f6f7;
  --bs-accordion-btn-color: $green-color;
  --bs-accordion-active-color: $green-color;
  --bs-accordion-active-bg: #f4f6f7;
  --bs-accordion-bg: #f4f6f7;
  --bs-body-bg: #f4f6f7;
  --bs-accordion-border-radius: 30px;
  --bs-accordion-inner-border-radius: 30px;

  &-button {
    padding: 32px;
    font-size: 24px;
    border-radius: 30px;
    box-shadow: none;
  }

  &-item {
    border-radius: 30px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &-body {
    padding: 0 100px 32px 32px;
    font-size: 18px;
  }

  .accordion-button {
    &:not(.collapsed) {
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.btn-flat-ghost {
  font-family: Panton Bold;
  font-size: 16px;
  line-height: 16px;
  color: $green-color;
  border: 2px solid $green-color;
  border-radius: 15px;
  padding: 11px 20px 8px;
  width: max-content;
  transition: 0.3s;

  &:hover {
    color: $white-color;
    background-color: $green-color;
  }
}